.gallery-card 
    a(href="#").gallery-card__img
        img(src="assets/images/"+card.image, alt="").gallery-card__image
    .gallery-card__content 
        .gallery-card__group
            .gallery-card__shields
                if card.shieldNew
                    span.gallery-card__shield.gallery-card__shield-new= card.shield
                else if card.shieldDiscount
                    span.gallery-card__shield.gallery-card__shield-discount= card.shield
                else
                    span.gallery-card__shield.gallery-card__shield= card.shield
            a(href="#" class="gallery-card__title") #{card.title}
            a(href="#" class="gallery-card__author") #{card.author}
            span.gallery-card__size #{card.size}
        .gallery-card__group
            .gallery-card__price
                .gallery-card__price-block
                    span.gallery-card__price-text #{card.price} <span class="rub">₽</span>
                    if card.priceold
                        span.gallery-card__price-old #{card.priceold}
                .gallery-card__price-block
                    a(href="#" class="gallery-card__price-block-favorite js-icon") 
                        +svg('favorite-bg-icon2', 'like', 'favorite')
                    a(href="#" class="gallery-card__price-block-cart js-icon") 
                        +svg('cart-bg-icon', 'cart', 'cart')


